.scrolling-div {
  height: 88vh; /* % af skærmstørrelse */
  overflow: auto;
}

.rowGap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.columnGap {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

h3 {
  color: rgb(128, 128, 128);
  font-family: sans-serif;
}
