h3 {
  color: gray;
  font-family: sans-serif;
}

.gridDisplay {
  display: grid;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-columns: auto auto;
}

.rowGap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.columnGap {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
