<div class="container">
    <img src="assets/bg.png" style="  left: 0; top: 0; width: 100%">

    <div id="content" class="center" style="margin-top: 20vh; background-color: rgba(255,255,255,90%)">

        <div id="placeDiv">
            <br>
            <h2>Order your coffee at:</h2>
            <button mat-button *ngFor="let place of coffeePlaces" id="placeBtn{{place.id}}" (click)="choosePlace(place)">{{place.coffeePlaceName}}</button>
        </div>

        <div id="menuCustomBtn" style="display: none">
            <br>
            <h2>Choose how you would like to order:</h2>
            <button mat-button (click)="showMenu()" >From Menu</button>
            <button mat-button (click)="buildCustom()" >Build you own coffee</button>
        </div>

        <div id="menuDiv" style="display:none">
            <div style="width: 50%">
                <a style="text-decoration: none" href="#kaffeOversigt"><button mat-flat-button style="width: 50%">Coffee</button></a>
                <a style="text-decoration: none" href="#kageOversigt"><button mat-flat-button style="width: 50%">Cake</button></a>
                <hr>
            </div>
            <div class="scrollingDiv rowGap" style="width: 50%">
                <div id="kaffeOversigt" class="rowGap">
                    <mat-card *ngFor="let coffee of coffeeData">
                        <mat-card-header style="text-align: left">
                            <mat-card-title style="font-size: medium">{{coffee.name}}</mat-card-title>
                            <mat-card-subtitle>Pris her</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-actions align="end">
                            <button mat-button id="{{coffee.id}}" (click)="addCoffeeToOrder(coffee)">Add to order</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <hr style="width: 100%">
                <div id="kageOversigt" class="rowGap">
                    <mat-card *ngFor="let cake of cakeData">
                        <mat-card-header style="text-align: left">
                            <mat-card-title style="font-size: medium">{{cake.name}}</mat-card-title>
                            <mat-card-subtitle>Pris her</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-actions align="end">
                            <button mat-button id="{{cake.id}}" (click)="addCakeToOrder(cake)">Add to order</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>
