<nav >
  <ul>
    <li style="float: left; padding-left: 20px"><img src="assets/logo.png" alt="Logo" height="35"></li>
    <li><button id="btn1" (click)="navigate('comp1', 'btn1')">Knap</button></li>
    <li><button id="btn2" (click)="navigate('comp2', 'btn2')">Login</button></li>
    <li><button id="btn3" (click)="navigate('comp3', 'btn3')">Profile</button></li>
    <li><button id="btn4" (click)="navigate('comp4', 'btn4')" >Admin</button></li>
    <li><button id="btn5" (click)="navigate('comp5', 'btn5')" class="active">Feed</button></li>
  </ul>
</nav>
<br> <!--Indsæt endnu et <br>, hvis navbar bliver for høj-->
<div id="comp1" class="component">
  <p>test 1</p>
</div>
<div id="comp2" class="component">
  <p>test 2</p>
</div>
<div id="comp3" class="component">
  <p>test 3</p>
</div>
<app-admin id="comp4" class="component">
</app-admin>
<div id="comp5" class="component">
  <p>test 5</p>
</div>
