<nav >
  <ul>
    <li style="float: left; padding-left: 20px"><img src="../assets/img/logo.png" alt="Logo" height="35"></li>
    <li><button id="btn1" (click)="navigate('comp1', 'btn1')">Login</button></li>
    <li><button id="btn2" (click)="navigate('comp2', 'btn2')">Profile</button></li>
    <li><button id="btn3" (click)="navigate('comp3', 'btn3')">Admin</button></li>
    <li><button id="btn4" (click)="navigate('comp4', 'btn4')">Feed</button></li>
    <li><button id="btn5" (click)="navigate('comp5', 'btn5')" class="active">Home</button></li>
  </ul>
</nav>
<div id="comp1" style="display: none" class="component">
  <div id="container">

    <img src="assets/bg.png" style="height: 700px; width: 1500px">

    <div id="example">
      <label style="font-family: 'Forte'; font-size: 38px; text-align: center"> Log in</label>
      <br>
      <div id="loginDiv">

        <mat-form-field style="font-size: 20px; font-family: 'Arial'; margin-bottom: 2rem">
          <input matInput placeholder="Email">
        </mat-form-field>

        <br>

        <mat-form-field style="font-size: 20px; font-family: 'Arial'; margin-bottom: 2rem">
          <input matInput placeholder="Password">
        </mat-form-field>

        <br>
        <br>

        <button mat-button style="background-color: rgb(244,134,111); opacity: 90%">Log in</button>

      </div>
    </div>

  </div>

</div>
<div id="comp2" style="display: none" class="component">
  <p>test 2</p>
</div>
<app-admin id="comp3" style="display: none" class="component">
</app-admin>
<app-post id="comp4" style="display: none" class="component">
  <p>post her</p>
</app-post>
<div id="comp5" style="display: block; width: 100%; position: fixed; left: 0;" class="component">
  <img src="assets/img/home.png" alt="cafe with welcome" style="left: 0; top: 0; width: 100%">
</div>

<button class="toTop" (click)="scrollToTop()" >&#8593;</button>
