<div class="nav">
  <button id="adminbtn1" (click)="navigate('admincomp1', 'adminbtn1')" class="active adminbutton" >Orders</button>
  <button id="adminbtn2" (click)="navigate('admincomp2', 'adminbtn2')" class="adminbutton" >Menu</button>
  <button id="adminbtn3" (click)="navigate('admincomp3', 'adminbtn3')" class="adminbutton" >Profile</button>
  <button id="adminbtn4" (click)="navigate('admincomp4', 'adminbtn4')" class="adminbutton" >Knap</button>
</div>

<div id="admincomp1" class="admincomponent">
  <p>test 1</p>
</div>
<div id="admincomp2" class="admincomponent">
  <div class="gridDisplay">
    <app-cake></app-cake>
    <app-ingredient></app-ingredient>
  </div>
</div>
<div id="admincomp3" class="admincomponent">
  <p>test 3</p>
</div>
<div id="admincomp4" class="admincomponent">
  <p>test 4</p>
</div>

