.gridDisplay {
  display: grid;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-columns: auto auto auto;
}

.admincomponent {
  padding-left: 200px; /*Længde på sidebar*/
}

.nav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 35px; /*Højde på navbar*/
  left: 0;
  background: rgb(194,167,144);
  background: linear-gradient(90deg,
  rgba(194,167,144,1) 0%,
  rgba(150,135,125,1) 100%);
  overflow-x: hidden;
  padding-top: 20px;
}

button {
  padding: 6px 6px 6px 32px;
  padding-right: 100%;
  text-decoration: none;
  font-size: 25px;
  background-color: TRANSPARENT;
  color: white;
  display: block;
  border: none;
}

button:hover {
  background-color: rgb(150,135,125);
}

button.active {
  background-color: rgb(194,167,144);
}
