<h3>Coffees</h3>
<div class="scrolling-div">
  <mat-card id="{{coffee.id}}card" *ngFor="let coffee of data">
    <div id="{{coffee.id}}coffees">
      <mat-card-header>
        <mat-card-title>{{coffee.name}}</mat-card-title>
      </mat-card-header>
    </div>
    <div id="{{coffee.id}}cakes" style="display: none">
      <mat-card-header>
        <mat-card-title>Recommended cakes</mat-card-title>
        <mat-card-subtitle *ngFor="let cake of recommendedCake">{{cake.name}}</mat-card-subtitle>
      </mat-card-header>
    </div>
    <mat-card-actions align="end">
      <button id="{{coffee.id}}flip" mat-stroked-button (click)="flipCard(coffee)" >Recommended cakes</button>
      <button id="{{coffee.id}}delete" mat-stroked-button (click)="onDelete(coffee.id)">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>
<!-- Lav en div mere for user login, display den div der skal frem i forhold til hvor man er på websiden -->

