<div id="container">

  <img src="assets/bg.png" style="  left: 0; top: 0; width: 100%">

  <div id="example">
    <label style="font-family: 'Forte'; font-size: 38px; text-align: center"> Log in</label>
    <br>
    <div id="loginDiv">
      <form #loginUserForm="ngForm" (ngSubmit)="loginUser(loginUserForm)">
        <mat-form-field style="font-size: 20px; font-family: 'Arial'; margin-bottom: 2rem">
          <input id="email" matInput placeholder="Email">
        </mat-form-field>
        <br>
        <mat-form-field style="font-size: 20px; font-family: 'Arial'; margin-bottom: 2rem">
          <input type="password" id="password" matInput placeholder="Password">
        </mat-form-field>
        <br>
        <br>
        <button type="submit" mat-button style="background-color: rgb(244,134,111); opacity: 90%">Log in</button>
      </form>
    </div>
    <br>
    <button (click)="showCreateUser()" mat-flat-button style="padding-top: 10px; ">Create user here</button>
  </div>

  <div id="createUserDiv" style="display: none">
    <button class="back" (click)="returnToLogin()" mat-button><mat-icon>keyboard_arrow_left</mat-icon></button>
    <label style="font-family: 'Forte'; font-size: 38px; text-align: center"> Create user</label>
    <br>
    <br>

    <div id="createUserDivInputs">
      <form #createUserForm="ngForm" (ngSubmit)="createUser(createUserForm)">
      <mat-form-field style="font-size: 18px; font-family: 'Arial'; margin-bottom: 1.5rem">
        <input name="userFirstName" ngModel matInput placeholder="First name">
      </mat-form-field>
      <br>
      <mat-form-field style="font-size: 18px; font-family: 'Arial'; margin-bottom: 1.5rem">
        <input name="userLastName" ngModel matInput placeholder="Last name">
      </mat-form-field>
      <br>
      <mat-form-field style="font-size: 18px; font-family: 'Arial'; margin-bottom: 1.5rem">
        <input name="userEmail" ngModel matInput placeholder="Email">
      </mat-form-field>
      <br>
      <mat-form-field style="font-size: 18px; font-family: 'Arial'; margin-bottom: 1.5rem">
        <input name="userPhone" ngModel matInput placeholder="Phone number">
      </mat-form-field>
      <br>
      <mat-form-field style="font-size: 18px; font-family: 'Arial'; margin-bottom: 1.5rem">
        <input name="userPassword" ngModel matInput placeholder="Password">
      </mat-form-field>
      <br>
        <button type="submit" mat-button style="background-color: rgb(244,134,111); opacity: 90%">Create user</button>
      </form>
    </div>
  </div>
</div>
