<div>
  <img src="assets/img/home.png" alt="cafe with welcome" style="left: 0; top: 0; width: 100%">

<div>

  <h1 style="text-align: center; padding-top: 15px; font-family: 'Baskerville Old Face'; font-size: 36px">Our selection of Coffee Beans</h1>

  <div class="gridDisplay">
    <div>
      <h4 class="coffeeInformation">Arabica</h4>
      <p class="coffeeText">
        Originating from Ethiopia, Arabica beans are revered for their smoothness and diverse flavor profiles.
        Historically significant as the first cultivated coffee species, they have a longstanding heritage dating back centuries.
      </p>
    </div>

    <div>
      <h4 class="coffeeInformation">Robusta</h4>
      <P class="coffeeText">
        Indigenous to Central and Western Africa, Robusta beans boast a high caffeine content and a robust flavor profile.
        Their historical importance lies in their resilience to diseases that affected Arabica plants, making them a crucial component in many coffee blends.
      </P>
    </div>

    <div>
      <h4 class="coffeeInformation">Ethiopian Yirgacheffe</h4>
      <p class="coffeeText">
        Revered as one of the most sought-after coffee beans, Yirgacheffe beans hail from Ethiopia, the birthplace of coffee.
        Their distinct bright acidity and floral notes reflect the rich cultural and geographical diversity of Ethiopian coffee production.
      </p>
    </div>

    <div>
      <h4 class="coffeeInformation">Colombian Supremo</h4>
      <p class="coffeeText">
        Colombia's fertile coffee-growing regions have nurtured the globally renowned Colombian Supremo beans.
        Notably, their historical significance lies in Colombia's emergence as a major player in the coffee industry, with Supremo beans representing a balance of mildness and nuanced flavors.
      </p>
    </div>

    <div>
      <h4 class="coffeeInformation">Brazilian Santos</h4>
      <p class="coffeeText">
        With a lineage tracing back to Brazil, Santos beans signify the nation's pivotal role as one of the largest coffee producers worldwide.
        Celebrated for their smoothness and subtle sweetness accompanied by chocolate undertones, they embody Brazil's coffee excellence.
      </p>
    </div>

    <div>
      <h4 class="coffeeInformation">Sumantra Mandheling</h4>
      <p class="coffeeText">
        Originating from Indonesia's rich coffee landscapes, Sumatra Mandheling beans stand out for their bold, full-bodied profile.
        Their historical relevance lies in representing Indonesia's distinct coffee culture, marked by earthy and herbal notes, catering to those with a preference for intense coffee experiences.
      </p>
    </div>

  </div>
  <br>
  <br>
</div>

<div>

  <div class="coffeeshopInformation">

    <div class="coffeeshopInformationText">
      Espressia Eksklusivo
    </div>
    <div class="coffeeshopInformationText">
      Aroma Æstetik
    </div>
    <div class="coffeeshopInformationText">
      Barista Maestro
    </div>

  </div>
</div>

</div>
